* {
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	padding: 0;
	font-family: "Atkinson Hyperlegible", sans-serif;
}

.displayNone {
	display: none !important;
}

h1 {
	font-size: 48px;
	text-align: center;
	color: #152938;
	display: flex;
	flex-direction: column;
}

h2 {
	text-align: center;
}

.main {
	position: relative;
	/* display: flex; */
	justify-content: center;

	align-content: center;
}

button {
	cursor: pointer;
}
.btn-gameover {
	height: 52px;
	font-size: 20px;
	font-weight: bold;
}

.orange {
	background-color: #fda214;
}

.orange:hover {
	background-color: #ffb84a;
}
.white-text {
	color: #fcfcfc !important;
}

.white-text-med {
	color: #fcfcfc;
	font-weight: bold;
	font-size: 20px;
}

.white-text-32 {
	color: #fcfcfc;
	font-weight: bold;
	font-size: 32px;
}

.blue-text-med {
	color: #304859;
	font-weight: bold;
	font-size: 20px;
}

.blue-text-32 {
	color: #304859;
	font-weight: bold;
	font-size: 32px;
}

.blue-text-med:hover {
	color: #fcfcfc;
	background-color: #6395b8;
}

.blue-text-lg {
	color: #304859;
	font-weight: bold;
	font-size: 40px;
}

.light-gray-text-lg {
	background-color: #bcced9;
	color: #fcfcfc;
	font-size: 44px;
	font-weight: bold;
}

.light-gray-text-xlg {
	background-color: #bcced9;
	color: #fcfcfc;
	font-size: 56px;
	font-weight: bold;
}

.transition {
	transition: 0.4s ease;
}
@media only screen and (max-width: 420px) and (min-width: 200px) {
	.white-text-med,
	.blue-text-med {
		font-size: 13px;
	}
}
